<div ng-controller="UpdateVesselCtrl as uuc">
    <form id="DeleteVesselForm" name="DeleteVesselForm" class="form-horizontal" role="form"
          ng-submit="uuc.delete()">
        <legend class="sm-col-12">Delete Vessel. Are you sure?</legend>

        <div class="form-group">
            <label id="lbl_Name" for="Name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="uuc.vessel.name" disabled>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Width" for="Width" class="col-sm-4 control-label">Width</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="width" id="width" placeholder=""
                       ng-model="uuc.vessel.width" disabled>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Length for="Length" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.length">Length</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="length" id="length"
                       ng-model="uuc.vessel.length" disabled>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Draft" for="Draft" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.draft">Draft</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="draft" id="draft"
                       ng-model="uuc.vessel.draft" disabled>
            </div>
        </div>
        
        <div class="form-group">
            <label id="lbl_Coordinates" for="coordinates" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.draft">Coordinates (latitude, longitude)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="latitude" id="latitude"
                       ng-model="uuc.vessel.latitude" disabled>
			</div>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="longitude" id="longitude"
                       ng-model="uuc.vessel.longitude" disabled>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <button type="button" class="btn btn-warning" id="btn_create" ng-click="uuc.cancel()">Cancel</button>

                <button type="submit" class="btn btn-success" id="btn_create">Delete</button>
            </div>
        </div>


    </form>
</div>