
<div ng-controller="MapCtrl as mc" style="height:800px">
    <div>
        <div class="row">
            <div class="col-sm-11">
                
            </div>
            <div class="col-sm-1">
                <a ng-href="/#/vessels/map/create" class="btn btn-primary pull-right" id="btn_vessel_create">Add</a>
            </div>        
            <hr>
        </div>
    </div>
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div>