<div ng-controller="UpdateVesselCtrl as uuc">
    <form id="UpdateVesselForm" name="UpdateVesselForm" class="form-horizontal" role="form"
          ng-submit="uuc.update()">
        <legend class="sm-col-12">Edit Vessel</legend>

        <div class="form-group">
            <label id="lbl_Name" for="Name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="uuc.vessel.name" ngRequired="true" required="Please, insert the field Name">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Width" for="Width" class="col-sm-4 control-label">Width</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="width" id="width" placeholder="" max="1000" min="1"
                       ng-model="uuc.vessel.width" ngRequired="true" required="Please, insert the field Width">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Length for="Length" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.length">Length</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="length" id="length"  max="1000" min="1"
                       ng-model="uuc.vessel.length" ngRequired="true" required="Please, insert the field Length">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_Draft" for="Draft" class="col-sm-4 control-label"
                   is-required="UpdateVesselForm.draft">Draft</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="draft" id="draft"  max="1000" min="1"
                       ng-model="uuc.vessel.draft" ngRequired="true" required="Please, insert the field Draft">
            </div>
        </div>
        
        <div class="form-group">
            <label id="lbl_Coordinates" for="coordinates" class="col-sm-4 control-label"
                   is-required="UpdateVesselForm.latitude">Coordinates (latitude, longitude)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="latitude" id="latitude"
                       ng-model="uuc.vessel.latitude" ngRequired="true" required="Please, insert the field Latitude" 
                       ng-pattern="/^(-?[1-8]?\d(?:\.\d{1,18})?|90(?:\.0{1,18})?)$/">
                <span ng-show="UpdateVesselForm.latitude.$error.pattern">Not valid number!</span>
			</div>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="longitude" id="longitude"
                       ng-model="uuc.vessel.longitude" ngRequired="true" required="Please, insert the field Longitude"
                       ng-pattern="/^(-?(?:1[0-7]|[1-9])?\d(?:\.\d{1,18})?|180(?:\.0{1,18})?)$/">
                <span ng-show="UpdateVesselForm.longitude.$error.pattern">Not valid number!</span>
            </div>
        </div>

        <!--pre>{{ uuc.vessel | json }}</pre-->

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <button type="button" class="btn btn-warning" id="btn_create" ng-click="uuc.cancel()">Cancel</button>

                <button type="submit" class="btn btn-success" id="btn_create">Update</button>
            </div>
        </div>


    </form>
</div>