

    <div ng-controller="VesselCtrl as uc">
        <div>
            <div class="row">
                <div class="col-sm-11">
                    <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Vessels...">
                </div>
                <div class="col-sm-1">
                    <a ng-href="/#/vessels/list/create" class="btn btn-primary pull-right" id="btn_vessel_create">Add</a>
                </div>        
                <hr>
            </div>
            </div>


            <table id="vessel_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Width</th>
                    <th>Length</th>
					<th>Draft</th>
					<th>Coordinates</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usr in uc.vessels | filter:searchText">
                    <td>
                        {{ usr.name }}
                    </td>
                    <td>
                        {{ usr.width }} m
                    </td>
                    <td>
                        {{ usr.length }} m
                    </td>
					<td>
                        {{ usr.draft }} m
                    </td>
                    <td>
                        {{ usr.latitude }}, {{ usr.longitude }}
                    </td>
                    <td>
                        <a ng-href="/#/vessels/list/edit/{{usr.name}}" id="btn_vessel_update"><img src="/assets/images/1426862709_698873-icon-136-document-edit-24.png"></a>
                        <a ng-href="/#/vessels/list/delete/{{usr.name}}" id="btn_vessel_delete"><img src="/assets/images/1426897239_trash.png"></a>
                    </td>
                </tr>
                <tr ng-hide="uc.vessels.length">
                    <td colspan="5">
                        <p class="text-center">No Vessels Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ uc.vessels | json }}</pre>
                </accordion-group>
            </accordion-->
        </div>

    </div>